.banner{
    background-image: url("assets/img/bg-jelly-fish-para_outras_pags.png");
    padding: 15% 0;
    background-size: cover;
}
 .banner .container{
    height: 150px;
    align-items: center;
    justify-content: center;
 }
 .banner p{
    color: white; 
    font-size: 36px;
    width: 280px;  
 }
 .social .container{
   justify-content: center;
 }
 .social .caixas{
    display: flex;
 }
 .social{
    margin: 50px 0;
 }
 .caixa{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
 }
 .caixa h4{
    margin: 15px 0;
    color: #e6005a;
 }
 .caixa p{
    text-align: center;
 }
 .caixa img {
    width: 170px;

 }

